.ical-ajaxy-hidden {
  display: none;
}

.ical-ajaxy-multiple-editor {
  width: 49%;
  float: right;
}

.ical-ajaxy-multiple-controls {
  width: 49%;
  float: left;
}

.ical-ajaxy-multiple-controls .ical-ajaxy-tabs .form-text,
.ical-ajaxy-multiple-controls .ical-ajaxy-tabs .form-select,
.ical-ajaxy-duration .form-radios .form-item {
  width: auto;
  margin-right: 5px;
  margin-left: 5px;
}

/* Make jQuery UI tabs vertical */
.ui-tabs-vertical { width: 100%; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 18%; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: left; width: 66%;}

/* 
 * We have to clear some things. This is not pretty. Ideally we could add
 * classes that do this. But, FAPI doesn't let us do it where we need them.
 */
.ical-ajaxy-tab-daily div.form-item:after,
.ical-ajaxy-tab-monthly div.form-item:after,
.ical-ajaxy-clear-block:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}
 
* html .ical-ajaxy-tab-daily div.form-item,
* html .ical-ajaxy-tab-daily div.form-item,
* html .ical-ajaxy-clear-blocks,
*:first-child+html .ical-ajaxy-clear-block,
* html .ical-ajaxy-tab-monthly div.form-item,
* html .ical-ajaxy-tab-monthly div.form-item {
  zoom: 1;
}

/* Inside the tabs make the forms usable */
.ical-ajaxy-tab-daily div.form-item div.form-item,
.ical-ajaxy-tab-daily label,
.ical-ajaxy-tab-monthly div.form-item div.form-item,
.ical-ajaxy-tab-monthly label,
.ical-ajaxy-tab-weekly .form-item,
.ical-ajaxy-tab-yearly .form-item,
.ical-ajaxy-tab-yearly .form-radios .ical-ajaxy-clear-block .form-item,
.ical-ajaxy-tab-yearly label,
.ical-ajaxy-float,
.ical-ajaxy-duration div.form-item div.form-item {
  display: inline;
  float: left;
  margin-top: 0;
  margin-bottom: 0;
}


/*************************/

.ical-ajaxy-tab-yearly .form-radios .form-item,
.ical-ajaxy-tab-yearly .form-radios label.option {
  display: block;
  width: 100%;
}

.ical-ajaxy-tab-yearly .form-radios .ical-ajaxy-clear-block .form-item {
  width: auto;
}

.ical-ajaxy-tab-daily label,
.ical-ajaxy-tab-monthly label,
.ical-ajaxy-tab-yearly ,
.ical-ajaxy-duration label {
  width: 100%;
  display: block;
}

.ical-ajaxy-tab-daily label input,
.ical-ajaxy-tab-monthly label input,
.ical-ajaxy-tab-yearly label input,
.ical-ajaxy-duration label input {
  float: left;
  margin-top: 7px;
  margin-right: 8px;
}

.ical-ajaxy-tab-daily label div.form-item input,
.ical-ajaxy-tab-monthly label div.form-item input,
.ical-ajaxy-tab-yearly label div.form-item input,
.ical-ajaxy-duration label div.form-item input {
  margin-top: 0;
}

.form-radios .ical-ajaxy-duration-date div.form-item {
  margin-right: 0;
}

/*************************/

/* Firefox specific css. Firefox renders the DOM differently when a form element
 * is placed on a label.
 */
.icalfield-ajaxy-mozilla .ical-ajaxy-tab-daily label,
.icalfield-ajaxy-mozilla .ical-ajaxy-tab-monthly label,
.icalfield-ajaxy-mozilla .ical-ajaxy-tab-yearly label,
.icalfield-ajaxy-mozilla .ical-ajaxy-duration label,
.icalfield-ajaxy-mozilla .ical-ajaxy-tab-yearly .form-radios label.option {
  width: auto;
}

.ical-ajaxy-tabs,
.ical-ajaxy-duration {
  line-height: 2em;
}

.ical-ajaxy-multiple-controls input.form-submit {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* The Editor */
.ical-ajaxy-canceled {
  text-decoration: line-through;
}

.ical-ajaxy-editor-title {
  border-bottom: 2px solid #D9EAF5;
  border-top: 2px solid #D9EAF5;
  padding: .5em 0;
  background-color: #EDF5FA;
}

.icalfield-ajaxy-header {
  margin-bottom: 1.5em;
}

.icalfield-ajaxy-rule-remove,
.icalfield-ajaxy-rule-cancel,
.icalfield-ajaxy-rule-edit {
  float: right;
  padding-right: 5px;
  padding-left: 5px;
}

table.icalfield-ajaxy-rule-table tbody {
  /* The height for this element is set with JS due to browser limitations on tbody */
  overflow-x: hidden;
  overflow-y: auto;
}

.ical-ajaxy-excluded {
  color: #999;
}

.ical-ajaxy-excluded a,
.ical-ajaxy-excluded a:link {
  color: #999;
}

.icalfield-ajaxy-positioning {
  float: left;
}

.icalfield-ajaxy-collapse-button {
  float: left;
}

.icalfield-ajaxy-collapsed {
  display: none;
}

/* IE customizations */
.icalfield-ajaxy-msie-7 .ical-ajaxy-duration .form-text,
.icalfield-ajaxy-msie-6 .ical-ajaxy-duration .form-text {
  width: auto;
}

.icalfield-ajaxy-msie-7 .icalfield-ajaxy-rule-title,
.icalfield-ajaxy-msie-6 .icalfield-ajaxy-rule-title {
  float: left;
}

.icalfield-ajaxy-msie-7 input.form-radio,
.icalfield-ajaxy-msie-6 input.form-radio {
  position: relative;
  bottom: 4px;
}

.icalfield-ajaxy-datetime-wrapper {
  margin-bottom: 1em;
}

.node-form .icalfield-ajaxy-datetime-wrapper .form-text {
  width: 90%;
  display: inline;
  float: left;
}

.icalfield-ajaxy-datetime-wrapper .form-item {
  display: inline;
}