#nice-menu-0 {
  width:906px;
  padding:0 50px;
  height:50px;
  background:#333;
  margin-top:17px;
  font-size:12px;
  z-index: 10;
  }
ul.nice-menu-down {
  float: left;
  border: 0;
  
}
#footer .block-menu_block li {
  display:inline;
  }
ul.nice-menu-down li {
  border:0px;
  border-top: 0px solid #020c17;
  background:none;
  list-style:none;
  list-style-image:none;
  
  text-align:center;
  
  
}
ul.nice-menu-down li#menu-3376 {
  width:190px;
  /*width:193px;*/
  }

ul.nice-menu-down a, #footer .block-menu_block a, #footer .block-menu_block a {
  vertical-align:middle;
  text-align:center;
  text-decoration:none;
  text-transform:uppercase; 
  color:#fff;
  
  padding:16px;
}
ul.nice-menu-down li#menu-3376 a {
padding:16px 26px;
}
ul.nice-menu-down li.active-trail a,
ul.nice-menu-down li.menuparent:hover a,
ul.nice-menu-down li:hover a,
ul.nice-menu-down li.over a,
ul.nice-menu-down a.active,
#footer .block-menu_block li.active-trail a,
#footer .block-menu_block li.menuparent:hover a,
#footer .block-menu_block li:hover a,
#footer .block-menu_block li.over a,
#footer .block-menu_block a.active
{
  background:#3399ff;
  color:#333;
}

ul.nice-menu-down li.over a {
background:#3399ff;
}
ul.nice-menu-down li.menuparent:hover a {
  background:#3399ff; 
 }
ul.nice-menu-down li.menuparent:hover li a {
  background-image:none;
  }
ul.nice-menu-down li.menuparent:hover a,
ul.nice-menu-down li.menuparent a:active,
ul.nice-menu-down ul li a {
  color:#fff;
  background:#333;
  }


ul.nice-menu-down li li {
  border-top: 0;
}

ul.nice-menu-down ul {
  top:38px;
  border:none;
 
  background:#333;
  width:100%;
  text-align:center;
  padding-bottom:10px;
  
}

ul.nice-menu-down ul li {
  clear: both;
  margin:5px;
  text-align:center;
  float:none;
  width:90%;
  margin:10px auto;

}

ul.nice-menu-down .menuparent ul li a {
  padding:10px 1px 10px 1px;
  text-align:center;
    font-weight:normal;
  font-size:1em;
  }


ul.nice-menu-down li ul li ul,
/* Repeat for Garland header. */
#header-region ul.nice-menu-down li ul li ul {
  left: 10em;
  top: -1px;
  display:none;
}

ul.nice-menu-down .menuparent a {
  padding-right:26px;
}

ul.nice-menu-down li.menuparent,
/* Repeat for Garland header. */
#header-region ul.nice-menu-down li.menuparent {
  background: transparent;
}

ul.nice-menu-down li.menuparent:hover,
ul.nice-menu-down li.over,
/* Repeat for Garland header. */
#header-region ul.nice-menu-down li.menuparent:hover,
#header-region ul.nice-menu-down li.over {

}

ul.nice-menu-down li li.menuparent,
/* Repeat for Garland header. */
#header-region ul.nice-menu-down li li.menuparent {
  background:transparent;
}

ul.nice-menu-down li li.menuparent:hover,
ul.nice-menu-down li li.over,
/* Repeat for Garland header. */
#header-region ul.nice-menu-down li li.menuparent:hover,
#header-region ul.nice-menu-down li li.over {
  background: #ccc url(arrow-right.png) right center no-repeat;
}

ul.nice-menu-down ul li a {
  background:#1a2334;
  background-image:none;
  }
ul.nice-menu-down ul li:hover a,
ul.nice-menu-down ul li.over a,
ul.nice-menu-down ul li:hover a:hover {
  color:#3399ff;
  background:#333;
  background-image:none;
  }
  
  
  
  
/* LEFT GREY */
.panel-left .menu-name-primary-links ul.menu {
  margin:0px;
  }
.page-academics  .panel-left .menu-name-primary-links ul.menu ul.menu {
 display:none;
  }

.panel-left .menu-name-primary-links ul.menu li {
    background:#494949;
  width:130px;
  min-height:40px;
  list-style-image:none;
  list-style-type:none;
  line-height:18px;
  border-bottom:1px solid #fff;
  }
.panel-left .menu-name-primary-links ul.menu li {
padding-left:10px;
  }
.panel-left .menu-name-primary-links ul.menu li ul.menu li {
/*margin-left:-10px;*/

  }  
.node-type-faculty-profile .panel-left .menu-name-primary-links ul.menu li ul.menu li {
margin-left:0px;

  }  
.panel-left .menu-name-primary-links ul.menu li.active-trail {
  display:block;
  }
 .panel-left .menu-name-primary-links ul.menu li.active-trail ul li {
   display:block;
   }
.panel-left .menu-name-primary-links ul.menu li a {
  color:#fff;

  vertical-align:middle;
  font-weight:normal;
  text-decoration:none;
  font-family:Georgia;
  font-size:1.1em;

  display:block;
  padding:10px 10px 10px 10px;
  
  }
.panel-left .menu-name-primary-links ul.menu li ul.menu li, .menu-name-primary-links ul.menu li.active-trail ul li{
  background:#f5f5f5;
  }
.panel-left .menu-name-primary-links ul.menu li ul.menu li a, .menu-name-primary-links ul.menu li.active-trail ul.menu li a {
 color:#020c17;
 font-size:1em;
 }
  
.panel-left .menu-name-primary-links ul.menu li.active-trail {
  background:#ededed;
  border-top:1px solid #dedede;
  border-bottom:1px solid #dedede;
  }

.panel-left .menu-name-primary-links ul.menu li.active-trail a {
  color:#1a2234;
  }
.panel-left .menu-name-primary-links ul.menu li.active-trail { 
  background:#020c17;
  }
.panel-left .menu-name-primary-links ul.menu li.active-trail a { 
  color:#fff;
  }  
.panel-left .menu-name-primary-links ul.menu li.active a {
  font-weight:bold;
}
.panel-left .menu-name-primary-links ul.menu li.active ul li a  {
  font-weight:normal;
  }
.panel-left .menu-name-primary-links ul.menu li.active-trail ul li { 
  background:#020c17;
  border:none;
  width:120px;
  }

.panel-left .menu-name-primary-links ul.menu li.active-trail ul li.active,
.panel-left .menu-hide .menu-name-primary-links ul.menu li.active-trail.leaf ul.menu li.active.active-trail,
.panel-left .menu-name-primary-links ul.menu li.active {
 border:none;
  background:#000;
  }
.panel-left .menu-name-primary-links ul.menu li.active-trail ul {
  border-top:1px solid #ccc;
  }

.panel-left .menu-name-primary-links ul.menu li.active-trail ul li a { 
  color:#fff;
  padding-right:10px;
  }    
  
.panel-left .menu-name-primary-links ul ul {
  clear:both;
 
  }
.panel-left .menu-name-primary-links ul li.expanded ul {
  width:120px;
 }

.collapsed.menu-mlid-3534,  
.collapsed.menu-mlid-3536,
.collapsed.menu-mlid-3526,
.leaf.last.menu-mlid-5536 {

  }

.panel-left .menu-name-primary-links ul li.expanded.menu-mlid-3534 ul,
.panel-left .menu-name-primary-links ul li.expanded.menu-mlid-3536 ul,
.panel-left .menu-name-primary-links ul li.expanded.menu-mlid-3526 ul {
  margin-left:10px;
}



.panel-left .menu-hide .menu-name-primary-links ul li.expanded.active-trail.menu-mlid-3534 li.expanded.active-trail,
.panel-left .menu-hide .menu-name-primary-links ul li.expanded.active-trail.menu-mlid-3534 li.expanded.active-trail ul li,
.panel-left .menu-hide .menu-name-primary-links ul li.expanded.active-trail.menu-mlid-3536 li.expanded.active-trail,
.panel-left .menu-hide .menu-name-primary-links ul li.expanded.active-trail.menu-mlid-3536 li.expanded.active-trail ul li,
.panel-left .menu-hide .menu-name-primary-links ul li.expanded.active-trail.menu-mlid-3526 li.expanded.active-trail,
.panel-left .menu-hide .menu-name-primary-links ul li.expanded.active-trail.menu-mlid-3526 li.expanded.active-trail ul li {
  background:none;
  border:0px;
  
  }

/*fix for left on page in department*/

.panel-left .menu-hide .menu-name-primary-links ul.menu li {

  
  }
.panel-left .menu-hide .menu-name-primary-links ul.menu li.active-trail {
  display:block;
  padding-left:10px;
  }
.panel-left .menu-hide .menu-name-primary-links ul.menu li.active-trail a {
  /*line-height:1.2em;*/
  font-size:1.1em;
  }
/*hide top level*/ 
.panel-left .menu-hide .menu-name-primary-links ul.menu li.menu-mlid-3534,
.panel-left .menu-hide .menu-name-primary-links ul.menu li.menu-mlid-3536, 
.panel-left .menu-hide .menu-name-primary-links ul.menu li.menu-mlid-3526 {

   padding-left:0px;
   padding-right:10px;
  }  
.panel-left .menu-hide .menu-name-primary-links ul.menu li.menu-mlid-3534 a,
.panel-left .menu-hide .menu-name-primary-links ul.menu li.menu-mlid-3536 a, 
.panel-left .menu-hide .menu-name-primary-links ul.menu li.menu-mlid-3526 a {

   padding-left:10px;
  }    
.panel-left .menu-hide .menu-name-primary-links ul.menu li.menu-mlid-3534 ,
.panel-left .menu-hide .menu-name-primary-links ul.menu li.menu-mlid-3536, 
.panel-left .menu-hide .menu-name-primary-links ul.menu li.menu-mlid-3526 {
 /*  display:none;*/
 
  }
.panel-left .menu-hide .menu-name-primary-links ul.menu li.menu-mlid-3534.active-trail ,
.panel-left .menu-hide .menu-name-primary-links ul.menu li.menu-mlid-3536.active-trail , 
.panel-left .menu-hide .menu-name-primary-links ul.menu li.menu-mlid-3526.active-trail {
   display:block;
 
  }  

.panel-left .menu-hide .menu-name-primary-links ul.menu li.active-trail ul.menu {
  display:block;
 /* margin-top:-40px;*/
  }
.panel-left .menu-hide .menu-name-primary-links ul.menu li.active-trail ul.menu li ul.menu {
  display:block;
  margin-top:0px;
  }  
/*.panel-left .menu-hide .menu-name-primary-links ul.menu li.active-trail ul.menu li {

  background:transparent;
  
   color:#336699;
 font-size:.8em;

}*/
.node-type-faculty-profile .panel-left .menu-hide .menu-name-primary-links ul.menu li.active-trail ul.menu li {
  margin-left:0px;
  }
.panel-left .menu-hide .menu-name-primary-links ul.menu li.active-trail ul.menu li ul.menu li {
  padding-left:10px;
  margin-left:-10px;
  }

.panel-left .menu-hide .menu-name-primary-links ul.menu li.active-trail ul.menu li ul.menu li a {
  padding-left:0px;

  }  
.panel-left .menu-hide .menu-name-primary-links ul.menu li.active-trail ul.menu li a {
  color:#fff;
  padding-left:0px;
  }
/*.panel-left .menu-hide .menu-name-primary-links ul.menu li.active-trail ul.menu li.active-trail {  
   background:#ededed;
   }*/
.panel-left .menu-hide .menu-name-primary-links ul.menu li.active-trail ul.menu li.active-trail a {
  
    vertical-align:middle;
  }
.panel-left .menu-hide .menu-name-primary-links ul.menu li.active-trail ul.menu li a {
  display:block;

    vertical-align:middle;
  }
/*.panel-left .menu-hide .menu-name-primary-links ul.menu li ul.menu li ul.menu li, .menu-name-primary-links ul.menu li.active-trail ul li ul.menu li{
  background:#f5f5f5;
  margin-left:0px;
  }*/
  /*
.panel-left .menu-hide .menu-name-primary-links ul.menu li.active-trail ul.menu li.active-trail ul.menu li.active-trail a, .menu-name-primary-links ul.menu li.active-trail ul.menu li ul.menu li a {
 color:#336699;
 font-size:1.1em;
 }*/
    
 
#resources {
 /* margin-top:10px;*/
  }
#resources h2 {
  font-size:1.1em;
  text-transform:uppercase;
  font-weight:normal;
  margin-bottom:15px;
  }
#resources ul.menu {
  margin:0px;
  padding:0px;
  }
#resources ul.menu li.leaf {
  list-style-image:none;
  list-style-type:none;
  width:300px;
  height:30px;
  background:#f5f5f5;
  border-left:2px solid #668dba;
  padding-left:10px;
  line-height:30px;
  margin-bottom:5px;
  padding-bottom:30px;
  }
#resources ul.menu li.leaf a {
  color:#336699;
  text-decoration:none;
  
  }
  
/* footer menus */
#footer {
   padding-top:60px;
  
  background:#333;
  width:944px;
  margin:0px auto;
  }
#footer .span-6 {
 margin-right:5px;
 }
#footer .span-6.last {
  margin-left:5px;
  margin-right:0px;
  }
 #footer .block-menu_block h3 {
   color:#336699;
   font-size:.8em;
   text-transform:uppercase;
   font-weight:normal;
   }
  #footer .block-menu_block { 
  margin:0 0 0 30px;

  height:47px;
  float:left;
  }
 #footer .block-menu_block ul li {
   list-style-type:none;
   list-style-image:none;
   margin-bottom:1px;
 }
 
 #footer .block-menu_block ul.menu {
   margin:0px;
   }
 
 #footer .block-menu_block ul li a {
  /* list-style-type:none;
   list-style-image:none;
   color:#666666;
    font-size:.75em;
   text-decoration:none;
   font-weight:normal;*/
   }
   
 #block-block-1  {
   text-align:right;
   }
 ul.nice-menu-down .menuparent ul li a.active {
  color:#3399ff;
}  
